.site-home-slider{
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}


.site-table.site-contacts {
    @include default-floating;

    h4{
        color:$c-white;
        font-size:$font-size-h3;
        font-weight:$font-bold;
    }

}

.site-table.site-contacts .row .col1{
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    background-image:url(../images/sfondo-contatti.jpg);
}


.site-contacts p{
    color:$c-white;
}


//
//  Small devices (tablets, 768px and up)
//
@media (min-width: $screen-sm-min) {




    
}

//
//  Small devices (tablets, 970px and up)
//
@media (min-width: $screen-md-min) {

    .site-table.site-contacts .row .col2{
        padding:3%;
    }

}



