.site-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 12345;
    left: 0;
    top: 0;
    background-color: $c-dark-red;
    overflow-x: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.6s, visibility 0s 0.6s;
    transition: transform 0.6s, visibility 0s 0.6s;
    visibility: hidden;

    &.opened{
        visibility: visible;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
    }
}



.site-overlay__content {
    position: relative;
    top:0;
    width: 100%;
    text-align: center;
    margin:0;
    z-index:1;
}

.site-overlay__menu{
    float:none;
    position:relative;
    margin:0 auto;

    ul{
        margin:80px 0 0 0;
        padding:0 5%;
        text-align:center;

        li{
            @include default-floating;

            a {
                padding:10px;
                margin:0;
                text-decoration: none;
                font-family:$headings-font-family;
                font-size: $font-size-h3;
                line-height:1.1;
                text-transform: uppercase;
                color: $c-white;
                display: inline-block;
                transition: 0.3s;
                background:transparent;

                &:hover{
                    color:darken($c-white,30)!important;
                     background:transparent;
                }
            }

            ul{
                margin:0;

                li a{
                    font-size:18px;
                    text-transform: none;
                    padding:6px 10px;

                    &:hover{
                        color:darken($c-white,30)!important;
                         background:transparent;
                    }
                }

                li.current-menu-item > a{
                    color: $c-red;

                    &:hover{
                        color:darken($c-white,30)!important;
                         background:transparent;
                    }
        
                }

            }

        }

        li.current-menu-item > a,li.current-menu-parent > a{
            color: $c-red;

        }

        li.menu-item-has-children {
            
            & > a{
                padding-left:30px;
            }
        
            & > a:after{
                @include icomoon;
                content:"\e904";
                position:relative;
                margin:0 0 0 10px;
                font-size:$font-size-h4;
                font-weight:$font-heavy;
            }
        }

    }

}


.site-overlay {
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size:$font-size-h3;
        line-height:1;
        z-index:2;
        padding:15px;
        border:1px solid $c-white;
        color:$c-red;
        transition: 0.3s;
        background:transparent;

        [class^="icon-"], [class*=" icon-"]{
            color:$c-white;
        }

        &:hover{
            color:$c-white;
            background:transparent;
        }
    }

    p{
        font-size:$font-size-h3-small;
        line-height:1;
        margin-bottom:20px;
        text-align:center;
        margin-top:15px;
    }
}



.site-overlay .site-overlay__social-icons{
	@include default-floating;
    text-align:center;

	li{
        display:inline-block;
        margin:0 5px;
	}

	li a{
		color:$c-red;
		text-decoration:none;
		display:inline-block;
        font-size:60px;
        line-height:1;
        transition: 0.3s;

		&:hover{
			color:$c-white;
			text-decoration:none;
		}
	}
}

//
//  Small devices (mobile, 480px and up)
//
@media (min-width: $screen-xs-min) {


    .site-overlay__menu ul li a {
        font-size: $font-size-h2;
    }

    .site-overlay p{
        font-size:$font-size-h1-small;
        margin-bottom:40px;
    }
}

//
//  Small devices (mobile, 768px and up)
//
@media (min-width: $screen-sm-min) {
    .site-overlay__menu ul li a {
        font-size: $font-size-h2;
        padding:10px;
    }

    .site-overlay .close {
        top: 40px;
        right: 40px;
    }

}

//
//  Small devices (tablets, 992px and up)
//
@media (min-width: $screen-md-min) {

}

//
//  Small devices (tablets, 1170px and up)
//
@media (min-width: $screen-lg-min) {
    
}

//
//  Small devices (tablets, 1400px and up)
//
@media (min-width: $screen-xl-min) {
    .site-overlay__menu ul li a {
        font-size: 60px;
        padding:15px;
    }
}