
.site-content__service,.site-content__service-navigation,.site-content-navigation{
    @include default-floating;
}

ul.social-buttons{
    margin:0;
    text-align: center;

    li{
        display:inline;
        margin:5px 10px;

        a{
            background-color: transparent;
            color: $c-dark-red;
            padding:5px;
            display: inline-block;
            font-size:140%;

            &:hover{
                color:$c-red;
            }
        }
    }
}

.site-content-navigation{
    padding:40px 0;
    margin-bottom:40px;

    ul{
        
        margin:0;
        padding:0;
        display:block;
        width:100%;

        li{
            display:block;
            width:33.33%;
            float:left;
            text-align:center;

            &[rel=prev]{
                text-align:left;
            }

            &[rel=next]{
                text-align:right;
            }

            a{
                color:$c-dark-red;
                font-size:$font-size-h3;

                &:hover{
                    color:$c-red;
                }

                
            }
        }
    }
}

.site-content__service{
    padding:5%;
    
}

.site-content-navigation{
    border-bottom:1px solid $c-red;
}


.site-content__service-navigation  {
    padding:0 5%;

    ul{
        margin:0;

        li{
            border-bottom:1px solid $c-white;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% auto;
            position:relative;


            a{
                    position:relative;
                    color:$c-white;
                    text-transform: uppercase;
                    font-size:$font-size-h4;
                    font-family:$headings-font-family;
                    font-weight:$font-light;
                    line-height:1.1;
                    padding:50px 50px 50px 20px;
                    display:block;
                    background-color:rgba(0,0,0,0);
                    transition-property: background-color;
                    transition-duration: 0.3s;

                    &:hover{
                        background-color:rgba(0,0,0,0.5);
                    }

                    span.freccia{
                        display:block;
                        position:absolute;
                        top:50%;
                        right:10px;
                        padding:0 5px;
                        margin:-12px 0 0 0;
                        
                    }
            }
        }
    }
}

.site-banner{
    @include default-floating;
    margin:40px 0;

    img{
        width:100%;
        margin:0;
        height:auto;
        position: relative;
    }

    h4{
        text-transform: uppercase;
        color:$c-dark-red;
        font-size:$font-size-h2-small;
        text-align:center;
    }

    .container{
        @include default-floating;
        width:90%;
        background-color:$c-white;
        padding:5%;
        margin:-20% 5% 0 5%;
        border-bottom:2px solid $c-red;

        &:hover{
            background-color:darken($c-white,2);
        }

        h5 {
            margin:0;
            span{
                font-size:$font-size-h3-small;
                font-style:normal;
                color:$c-dark-red;

                &:after {
                    bottom:-15px;
                }
            }
        }

        p{
            text-align:center;
        }
    }
}

//
//  Small devices (mobile, 480px and up)
//
@media (min-width: $screen-xs-min) {
    
    .site-content__service-navigation  {
        padding:0 10%;
    }
}




//
//  Large devices (large desktops, 768px and up)
//
@media (min-width: $screen-sm-min) {
    .site-content__service-navigation  {
        padding:0 15%;
    }

}

//
//  Large devices (large desktops, 970px and up)
//
@media (min-width: $screen-md-min) {
    .site-content__service{
        width:65%;
    }
    
    .site-content__service-navigation{
        width:35%;
        margin:0;
        padding:0;
    }

    

}

//
//  Large devices (large desktops, 1200px and up)
//
@media (min-width: $screen-lg-min) {

    .site-content__service-navigation ul li a{
        font-size:$font-size-h3;
        padding:70px 50px 70px 30px;
    }

    .site-content__service{
        width:70%;
    }
    
    .site-content__service-navigation{
        width:30%;
    }



}