// ****************************
//
//  CONTENT
//
//  Mobile First (less than 768)
//
// ****************************

.one, .one-half, .two-third, .one-third, .one-fourth{
	@include default-floating;
	margin-bottom:20px;
}

.site-top,.site-search,.site-header,.site-content,.site-footer,.site-home-slider{
	@include default-floating;
	background: transparent;
	z-index:1;
}

.site-home-slider{
	z-index:2;
}

.site-content{
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}


.site-top{
	padding:0;
	background-repeat: no-repeat;
	background-position:  center center;
	background-size:cover;
}

.content-wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	background: transparent;
	position:relative;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.noMargin{
	margin:0;
}

.divider{
	@include default-floating;
	height:1px;
	background: transparent;
}

.full-3-column{
	@include default-floating;
	background-position: center center;
	background-size:cover;
	background-repeat: no-repeat;
	height:auto;
	padding:200px 5% 50px 5%;
	border:1px solid $c-white;


	.container{
		@include default-floating;
		background-color:rgba(255,255,255,0.8);
		border-bottom:2px solid $c-red;
		padding:5%;
		transition-property: background-color;
		transition-duration: 0.3s;

		&:hover{
			background-color:rgba(255,255,255,0.95);
		}

	}


}

.full-animated-columns{
	@include default-floating;

	.full-column-text,.full-column-image{
		@include default-floating;
		z-index:1;
	}

	.full-column-image img{
		width:100%;
		height:auto;
	}


}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

.come-in2 {
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-name: fadeIn;
	animation-duration: 1s;
  }
  
  .already-visible2 {
	
	animation: none;
  }

@-webkit-keyframes fadeIn { 
	0% { opacity: 0; }
	20% { opacity: 0; }
	40% { opacity: 0.3; }
	60% { opacity: 0.5; }
	80% { opacity: 0.9; }
	100% { opacity: 1; }
  }
  
  @keyframes fadeIn {
	0% { opacity: 0; }
	20% { opacity: 0; }
	40% { opacity: 0.3; }
	60% { opacity: 0.5; }
	80% { opacity: 0.9; }
	100% { opacity: 1; }
  }



#mappa{
	@include default-floating;
	height:600px;
}

.hidden{display:none!important}

.backgroundWhite{
	background-color:$c-white;
}
.bordered{
	border-bottom:2px solid $c-red;
	padding:5%;
}

.marginNegativeTop{
	margin-top:0!important;
	z-index:1!important;
}

.marginNegativeBottom{
	margin-bottom:0!important;
	z-index:1!important;
}

.marginBottom{
	margin-bottom:60px!important;
}

.marginTop{
	margin-top:60px!important;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.site-content.error-404{
	padding:250px 0 100px 0;
}

//
//  Small devices (mobile, 480px and up)
//
@media (min-width: $screen-xs-min) {


}

//
//  Small devices (tablets, 768px and up)
//
@media (min-width: $screen-sm-min) {
	.one, .one-half, .two-third, .one-third, .one-fourth{
		float:left;
		position:relative;
		margin-right:4%;
		margin-bottom:0;
	}
	.one {
		width: 100%;
		margin-right: 0;
	}
	.one-half {	width: 48%; }
	.two-third { width: 65.33%; }
	.one-third  { width: 30.66%; }
	.one-fourth { width: 22%; }
	.last { margin-right: 0 !important; }

	.content-wrapper {
		width: 600px;
	}

	.full-3-column{
		width:50%;
		height:500px;

		.container{
			position:absolute;
			bottom:80px;
			left:5%;
			width:90%;

		}
	}

	.marginNegativeTop{
		margin-top:-60px!important;
		z-index:2!important;
	}

	.marginNegativeBottom{
		margin-bottom:-60px!important;
		z-index:2!important;
	}

	

}


//
//  Medium devices (desktops, 992px and up)
//
@media (min-width: $screen-md-min) {
	.content-wrapper {
		width: 770px;
	}

	.full-3-column{
		width:33.33%;
		height:550px;
	}

	


}

//
//  Large devices (large desktops, 480px and up)
//
@media (min-width: $screen-xs-min) {


}


//
//  Large devices (large desktops, 768px and up)
//
@media (min-width: $screen-sm-min) {


}

//
//  Large devices (large desktops, 970px and up)
//
@media (min-width: $screen-md-min) {
	.site-header.page404 .verticallyCentered{
		max-width:700px;
	}

	.full-animated-columns{
		
		.full-column-text{
			position:relative;
			margin:0;
			width:50%;
			z-index:1;
			float:left;
		}

		.full-column-image{
			position:relative;
			margin:0;
			width:50%;
			z-index:1;
			float:left;
		}

		
	}

}

//
//  Large devices (large desktops, 1200px and up)
//
@media (min-width: $screen-lg-min) {
	.content-wrapper {
		width: 1148px;
	}

	.full-animated-columns{
		
		.full-column-text{
			position:absolute;
			top:0;
			left:0;
			width:55%;
			z-index:2;

		}

		.full-column-image{
			width:60%;
			float:right;
		}

		
	}

	
}