@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4izk19');
  src:  url('../fonts/icomoon.eot?4izk19#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4izk19') format('truetype'),
    url('../fonts/icomoon.woff?4izk19') format('woff'),
    url('../fonts/icomoon.svg?4izk19#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-users:before {
  content: "\e901";
}
.icon-hamburger:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-spacer:before {
  content: "\e908";
}
.icon-linkedin-bordered:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-prev:before {
  content: "\e90b";
}
.icon-next:before {
  content: "\e90c";
}
.icon-back:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-googleplus:before {
  content: "\e90f";
}
.icon-twitter:before {
  content: "\e910";
}
.icon-linkedin:before {
  content: "\e911";
}
.icon-email-full:before {
  content: "\e912";
}
.icon-maps:before {
  content: "\e913";
}
.icon-place:before {
  content: "\e914";
}
.icon-tram:before {
  content: "\e915";
}
.icon-car:before {
  content: "\e916";
}
.icon-phone-full:before {
  content: "\e918";
}
.icon-fax-full:before {
  content: "\e919";
}
.icon-fax:before {
  content: "\e91a";
}
.icon-email:before {
  content: "\e91b";
}
