@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tqoupo');
  src:  url('../fonts/icomoon.eot?tqoupo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tqoupo') format('truetype'),
    url('../fonts/icomoon.woff?tqoupo') format('woff'),
    url('../fonts/icomoon.svg?tqoupo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-users:before {
  content: "\e901";
}
.icon-hamburger:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-spacer:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
}
.icon-fax:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e90b";
}
