// ****************************
//
//  TYPOGRAPHY

//
//  Mobile First (less than 768)
//
// ****************************



// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include default-floating;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $c-dark-red;
  background-color:transparent;
  text-transform:uppercase;
  clear:both;
  margin-bottom:20px;
  text-align:left;

}


.alignCenter h1, .alignCenter h2,.alignCenter h3,.alignCenter h4,.alignCenter h5,.alignCenter h6,
.alignCenter .h1,.alignCenter .h2,.alignCenter .h3,.alignCenter .h4,.alignCenter .h5,.alignCenter .h6,.alignCenter .subtitle{
    text-align:center;
}



h1, .h1 { font-size: $font-size-h1-small; }
h2, .h2 { font-size: $font-size-h2-small; }
h3, .h3 { font-size: $font-size-h3-small; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }



p, ul, ol, blockquote{
	@include default-floating;
	margin-bottom:20px;
	font-size: $font-base-size;
    font-family: $font-base-family;
    font-weight: $font-base-weight;
    line-height: 1.6;
    text-align:left;
    color:$c-grey;
}

.site-header,.site-content,.site-services,.site-partners,.site-contacts,.site-intro,.site-banners .site-banner,.site-single-project .site-single-project__details .site-single-project__navigation,.site-basic{
    p:last-child{
        margin-bottom:0!important;
    }
}



.site-content .content-wrapper .one ul,.entry-content ul{
    //list-style-type: disc;
    list-style: none;
    padding:0;
    margin:0 0 40px 0;

    li{
        margin-bottom:10px;

        &:before {
            content: "\2022"; 
            color: $c-red;
            display: block; 
            float:left;
            margin-right:10px;
            font-size:$font-size-h3;
            line-height:1;
        }
    }

}

.site-content .content-wrapper .one  ol,.entry-content ol{
    //list-style-type: decimal;
    list-style: none;
    counter-reset: li;
    padding:0;
    margin:0 0 40px 0;
    
    li{
        padding-left:12px;
        margin-bottom:10px;
        counter-increment: li;

        &:before {
            content: counter(li); 
            color: $c-red;
            display: block; 
            float:left;
            margin-right:10px;
            font-size:$font-size-h4;
            line-height:1;

        }
    }
}

blockquote{
    padding:20px;
    color:$c-red;
    font-size:$font-size-h4;
    border:0;
    margin:10% 5%;
    width:90%;
    text-align:left;
    line-height:1.3;

    &:before{
        content:'\201C';
        display:block;
        position:absolute;
        font-size:80px;
        color:$c-dark-red;
        top:-30px;
        left:-30px;
        font-family:$headings-font-family;
        font-style:italic;
    }

    p {
        margin:0;
        padding:0;
        color:$c-red;
        font-size:$font-size-h4;
        line-height:1.3;
    }

    strong{
        font-weight:$font-bold;
    }

}


p strong, ul strong, ol strong{
	font-weight:$font-bold;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.alignCenter{
    text-align: center;
}

.alignRight{
    text-align: right;
}

.marginTop{
    margin-top:20px!important;
}

.subtitle{
    @include default-floating;
    color:$c-red;
    font-style:italic;
    font-size:$font-base-size;
    margin-bottom:30px;
    text-align:left;
    text-transform: uppercase;

    &:after{
        content:"";
        display:block;
        width:54px;
        height:2px;
        background-color:$c-red;
        position:absolute;
        bottom:-30px;
        left:0;

    }
}

h1 .subtitle, h2 .subtitle, h3 .subtitle, h4 .subtitle, h5 .subtitle, h6 .subtitle,.alignCenter .subtitle{
    text-align:center;
}

.subtitle-border{
    @extend .subtitle;
    margin-bottom:40px;

    &:after{
        margin-left:-50px;
        left:50%;
        width:100px;
        bottom:0;
    }

}

span.red{
    color:$c-red;
}

span.bigger{
    font-size:150%;
}

h1 .subtitle:after, h2 .subtitle:after, h3 .subtitle:after, h4 .subtitle:after, h5 .subtitle:after, h6 .subtitle:after,.alignCenter .subtitle:after,
{
    margin-left:-27px;
    left:50%;
}

.full-3-column  .container h3{
    margin-bottom:30px; 

    &:after{
        content:"";
        display:block;
        width:54px;
        height:2px;
        background-color:$c-red;
        position:absolute;
        bottom:-20px;
        left:0;
    }
}

.full-3-column  .container.alignCenter h3:after{
    margin-left:-27px;
    left:50%;
}

//
//  Small devices (mobile, 480px and up)
//
@media (min-width: $screen-xs-min) {


}
//
//  Small devices (tablets, 768px and up)
//
@media (min-width: $screen-sm-min) {
    h1, .h1 { font-size: $font-size-h1; }
    h2, .h2 { font-size: $font-size-h2; }
    h3, .h3 { font-size: $font-size-h3; }

    p, ul, ol,h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6{
        margin-bottom:40px;
    }

    .marginTop{
        margin-top:40px;
    }


    blockquote{
        font-size:$font-size-h3;    
        padding:20px 0 20px 40px;
        margin:80px 5% 80px 15%;
        width:75%;
        border-left:2px solid $c-red;

        &:before{
            top:-10px;
            left:-120px;
            font-size:120px;
        }
    }



}